.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 150px;
  
  &__left {  
    text-transform: uppercase;    
  }

  &__right { 
    width: 335px;
    align-self: end; 

  p {
    margin-bottom: 30px;
  } 
}

}