.first {
  margin-bottom: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 86px);

  &__slider,
  &__wrapper,
  &__slides,
  &__slide {
    height: 100%;
  }

  &__slide {
    display: flex;
    align-items: center;
  }

  &__slide-title {
    padding-bottom: 24px;
    text-transform: uppercase;
  }

  &__scroll,
  &__slider-button,
  &__socials {
    position: absolute;
  }

  &__scroll {
    bottom: 57px;
  }

  &__slider-button {
    width: 46px;
    height: 46px;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: $color-gray-button;
    cursor: pointer;
  }

  &__socials {
    right: 45px;
    display: flex;
    column-gap: 50px;
    writing-mode: vertical-rl;
  }

  &__social {
    img, svg {
      width: 16px;
      height: 16px;
      transform: rotate(90deg);
    }

    span {
      font-size: 11px;
      color: $color-white;
      margin-top: 7px;
    }
  }
}