$wrapper-width: 1220px;
$container-width: 960px;

$color-white: #FFF;
$color-black: #000;
$color-red: #C6100F;
$color-red-label: #FF6E6E;
$color-pink-label: #FF95D7;
$color-dark-gray: #12141D;
$color-gray-button: #191B25;

$border-radius: 4px;