@import "vars";
@import "common";

body {
  font-family: 'Roboto', sans-serif;
  background-color: $color-black;
  color: $color-white;
}

.wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

@import "button";
@import "input";
@import "header";
@import "first";
@import "video";
@import "contacts";
@import "block";
@import "partners";
